@model CrudNet8MVC.Models.Contacto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Crear Nuevo Contacto";
}

<h1 class="text-center">Contacto con .Net 8 (.Net Core MVC</h1>

<div class="row">
    <div class="offset-12">
        <div class="card-header bg-dark">
            <h3 class="text-white"><strong>Crear Usuario</strong></h3>
        </div>
        <div class="card-body">
            <form asp-action="Crear"  method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" placeholder="Ingresa Nombre" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="control-group">
                    <label asp-for="phone" class="control-label"></label>
                    <input asp-for="phone" class="form-control" placeholder="Telefono"/>
                    <span asp-validation-for="phone" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="celular" class="control-label"></label>
                    <input asp-for="celular" class="form-control" placeholder="Ingresa celular"/>
                    <span asp-validation-for="celular" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="email" class="control-label"></label>
                    <input asp-for="email" class="form-control"/>
                    <span asp-validation-for="email" class="text-danger"></span>

                </div>

                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-secondary d-block mx-auto"><i class="fa-solid fa-user"></i> Crear</button>
                </div>
            </form>

            <a asp-controller="Inicio" asp-action="Index">Volver</a>
        </div>
    </div>

</div>