

#body{
    background: #E5E5E5;
}

#vector{
    /* Vector */
    position: absolute;
    left: 36.67%;
    right: 37.43%;
    top: 0%;
    bottom: 0%;
}

.layout-logo{
    /* Logo */
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

/* Dark blue/dark-blue-300 */
#bodyVector{
    background: #0A3871;
}


#menu{
    /* Menu */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 10px;

    display: none;
    width: 120px;
    height: 176px;

    background: rgba(255, 255, 255, 0.24);
    border-radius: 800px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#menu2{
    /* Menu */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 10px;

    display: none;
    width: 120px;
    height: 176px;

    background: rgba(255, 255, 255, 0.24);
    border-radius: 800px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

#fame5{
    /* Frame 5 */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 336px;
    height: 122px;
    left: 1032px;
    top: 619px;
}


.ningunMsj{
    /* Ningún mensaje fue encontrado */
    width: 336px;
    height: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */

    text-align: center;

    /* Gray/gray-500 */

    color: #343A40;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.textoIngresar{
    /* Ingresa el texto que desees encriptar o desencriptar. */

    width: 336px;
    height: 48px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    text-align: center;

    /* Gray/gray-400 */

    color: #495057;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#muneco{
    /* Muñeco */
    position: absolute;
    width: 336px;
    height: 304px;
    left: 1032px;
    top: 283px;
}

#hada{
    /* heda */
    position: absolute;
    left: 55.01%;
    right: 24.91%;
    top: 5.71%;
    bottom: 63.07%;
}

#hand_left{
    /* hand_left */
    position: absolute;
    left: 55.74%;
    right: 22.63%;
    top: 37.6%;
    bottom: 29.4%;
}

#torso{
    /* torso */
    position: absolute;
    left: 57.34%;
    right: 23.65%;
    top: 33.04%;
    bottom: 34.19%;
}

#leg_left{
    /* leg_left */
    position: absolute;
    left: 51.77%;
    right: 12.09%;
    top: 63.13%;
    bottom: 7.9%;
}

#leg_right{
    /* leg_right */
    position: absolute;
    left: 45.04%;
    right: 23.89%;
    top: 62.92%;
    bottom: 10.62%;
}




@media only screen and (min-width: 1024px) and (max-width: 1440px){

    #desktop{
        /* Encriptador - 1 Desktop */
        position: relative;
        width: 1440px;
        height: 1024px;

        /* Light blue/light-blue-100 */

        background: #F3F5FC;    
    }
}